@import '../abstract/variables';

.catalog__header {
    display: flex;
    align-items: flex-end;
}

.catalog__qnty {
    font-size: 14px;
    line-height: 17px;
    color: #646464;
    margin-bottom: 7px;
    margin-left: 12px;
}

.catalog__body {
    display: flex;
    align-items: flex-start;
}

.sidebar {
    width: 235px;
    margin-right: 30px;
    padding-top: 26px;

    &--no-margins{
        padding: 0;
    }
}

.sidebar__item {
    margin-bottom: 5px;
}

.sidebar__item__collapse-btn {
    position: relative;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #001D3A;
    text-align: left;
    padding: 7px 20px 7px 0;

    &:after {
        content: '';
        display: inline-block;
        width: 12px;
        height: 7px;
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -2px;
        background-image: url(../img/icon-down.svg);
        transform: rotateZ(180deg);
    }

    &.collapsed:after {
        transform: rotateZ(0);
    }

    &:hover {
        color: #225ECA;
    }
}

.sidebar__item__search {
    margin-top: 9px;
    margin-bottom: 16px;
}

.sidebar__links {
    max-height: 270px;
    overflow: hidden;
    margin-bottom: 5px;
    transition: max-height 0.3s ease-in-out;
}

.sidebar__links--full-height {
    max-height: fit-content;
}

.sidebar__links__item {
    margin-bottom: 12px;

    &.hidden {
        display: none;
    }
}

.sidebar__link {
    display: block;
    font-size: 14px;
    line-height: 22px;

    span {
        color: #646464;
    }

    &:hover {
        span {
            color: #646464;
        }
    }
}

.sidebar__show-more {
    color: #3275EE;
    text-align: left;
    padding: 0 20px 0 0;
    margin-bottom: 15px;
    font-weight: 400;
    position: relative;

    &.hidden {
        display: none;
    }
}

.sidebar__show-more .arrow-down {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -2px;
    margin-right: 0;

    path {
        fill: #3275EE;
    }
}

.sidebar__show-more.active .arrow-down {
    transform: rotateZ(180deg);
}

.catalog__content {
    width: 985px;
}

.catalog-nav {
    display: flex;
    border-bottom: 2px solid #F2F2F2;
    margin-top: 23px;
}

.catalog-nav__item {
    padding: 18px 24px;
    position: relative;
    margin-bottom: -2px;
}

.catalog-nav__item.active:after {
    content: '';
    width: 100%;
    height: 3px;
    background: #3275EE;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.catalog__filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 24px 0;
}

.catalog__filter-info{
    width: 100%;
    margin-right: 110px;
}

.catalog__filter-tabs{
    display: flex;
}

.catalog__filter-tab{
    display: inline-block;
    text-decoration: none;
    padding: 0 12px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    color: $text_color;
    background: #F9F9F9;
    border-radius: 30px;
    transition: all .3s;

    &.active,
    &:hover{
        color: #fff;
        background-color: $blue;
    }

    & + & {
        margin-left: 16px;
    }
}

.catalog__filter-btn{
    display: flex;
    align-items: center;
    flex-shrink: 0;

    svg {
        margin-right: 8px;
    }
}

.catalog-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 0;
}

.catalog-sort__panel {
    display: flex;
}

.catalog-sort__label {
    font-size: 16px;
    line-height: 160%;
    margin-right: 24px;
    color: #646464;
}

.catalog-sort__link {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.catalog-sort__link svg {
    margin-left: 4px;
    margin-top: 1px;
}

.catalog-sort__link.down svg {
    transform: rotateZ(180deg);
}

.catalog-sort__link.link svg path {
    fill: #3275EE;
}

.catalog-sort__link.link-dark svg path {
    fill: #001D3A;
}

.catalog-direction {
    margin-right: -1px;
}

.catalog-direction__btn {
    padding: 0;
    width: auto;
    height: auto;
    border: none;
    margin-left: 9px;
}

.catalog-direction__btn rect {
    fill: #C4C4C4;
}

.catalog-direction__btn.active rect {
    fill: #3275EE;
}

.catalog-list {
    padding-top: 5px;
}

.catalog-item {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #DFDEE2;
    padding: 24px 0;
}

.catalog-item__image {
    width: 246px;
    max-width: 246px;
    height: 246px;
    margin-right: 32px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.catalog-item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.catalog-item__body {
    width: 431px;
    max-width: 431px;
    margin-right: 58px;
}

.catalog-item__name {
    margin-bottom: 11px;
}

.catalog-item__name a {
    font-size: inherit;
}

.catalog-item__option {
    display: flex;
    margin-bottom: 4px;
}

.catalog-item__option__label {
    margin-right: 5px;
    font-size: 14px;
    color: #646464;
}

.catalog-item__option__value {
    font-size: 14px;
}

.catalog-item__option__link {
    font-weight: 500;
    font-size: 14px;
    margin-right: 3px;
}

.catalog-item__option img {
    width: 17px;
    height: 17px;
    margin-top: -2px;
}

.catalog-item__description {
    font-size: 14px;
    line-height: 22px;
    max-height: 66px;
    color: rgba(0, 29, 58, 0.9);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 10px 0;
}

.catalog-item__phone {
    height: 22px;
    overflow: hidden;
    margin-bottom: 8px;
}

.catalog-item__phone p {
    font-size: 14px;
    line-height: 22px;
}

.catalog-item__phone__label {
    cursor: pointer;
    display: inline-block;
}

.catalog-item__city {
    color: #646464;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 12px;
}

.catalog-item__price {
    font-size: 22px;
    line-height: 31px;
    margin-bottom: 24px;
}


.catalog-item__action {
    flex: 1;
}

.catalog__table__header {
    display: none;
}

.catalog-list.horizontal {
    padding-top: 0;
    border: 1px solid #DFDEE2;
    border-radius: 8px;
    margin-top: 30px;
    overflow: hidden;
}

.horizontal .catalog__table__header {
    display: flex;
    background: #F2F2F2;
    border-bottom: 1px solid #DFDEE2;
    overflow: hidden;
}

.catalog__table__th {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #001D3A;
    padding: 12px 8px;

    &:nth-child(1) {
        width: 260px;
        padding-left: 16px;
    }

    &:nth-child(2) {
        width: 126px;
    }

    &:nth-child(3) {
        width: 114px;
    }

    &:nth-child(4) {
        width: 127px;
    }

    &:nth-child(5) {
        width: 103px;
    }

    &:nth-child(6) {
        width: 231px;
    }
}

.horizontal .catalog-item {
    height: 76px;
    padding: 0;
    align-items: center;

    &:nth-child(even) {
        background-color: #F9F9F9;
    }

    &:last-child {
        border-bottom: none;
    }
}

.horizontal .catalog-item__option__label {
    display: none;
}

.horizontal .catalog-item__image {
    display: none;
}

.horizontal .catalog-item__action {
    display: none;
}

.horizontal .catalog-item__description {
    display: none;
}

.horizontal .catalog-item__body {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin: 0;
}

.horizontal .catalog-item__option {
    padding: 0 8px;
    margin-bottom: 0;
}

.horizontal .catalog-item__name {
    width: 260px;
    max-width: 260px;
    padding-left: 16px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 0;
}

.horizontal .horizontal__size {
    width: 126px;
    max-width: 126px;
}

.horizontal .horizontal__grade {
    width: 114px;
    max-width: 114px;
}

.horizontal .horizontal__note {
    width: 127px;
    max-width: 127px;
}

.horizontal .horizontal__price {
    width: 103px;
    max-width: 103px;
}

.horizontal .horizontal__provider {
    display: block;
    flex: 1;
}

.horizontal .horizontal__date {
    width: 48px;
    max-width: 48px;
}

.horizontal .horizontal__date p {
    display: none;
}

.catalog-item__btn {
    display: none;
}

.horizontal__provider .catalog-item__phone {
    margin: 0;
    display: none;
}

.horizontal .horizontal__provider .catalog-item__phone {
    display: block;
}

.horizontal .catalog-item__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 4px;
}

.sidebar__filters {
    margin-top: 5px;
}

.catalog__clear-filter {
    width: 100%;
    margin-top: 19px;
}

.catalog__filter__label {
    margin-right: 16px;
}

.catalog-search__panel {
    display: flex;
    align-items: center;
    padding-top: 24px;
}

.catalog-search {
    position: relative;
    width: 664px;
}

.catalog-search__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 41px;
    padding: 0;
    border-radius: 8px;
    position: absolute;
    right: 0;
    top: 0;
}

.catalog-search__panel .catalog__filter-btn {
    margin-left: auto;
}
