@import '../abstract/variables';

.base-input {
    height: 40px;
    background: #F2F2F2;
    border-radius: 8px;
    font-size: 16px;
    line-height: 26px;
    padding: 7px 16px;
    border: none;
    color: rgba(0, 29, 58, 0.9);
    border: 1px solid #F2F2F2;

    ::placeholder {
        color: #646464;
    }

    &:focus {
        outline: none;
        box-shadow: none;
        background: #fff;
        border-color: #3275EE;
    }
}

.materil-group {
    display: block;
    position: relative;
}

.materil-group__label {
    position: absolute;
    left: 16px;
    top: 13px;
    z-index: 2;
    color: #646464;
    font-size: 16px;
    line-height: 26px;
    transition: 0.15s ease-in-out;
    margin-bottom: 24px;
}

.materil-group__input {
    height: 52px;
    padding: 20px 16px 6px;
}

.materil-group.active .materil-group__label {
    left: 16px;
    top: 6px;
    font-size: 10px;
    line-height: 14px;
}

.materil-group.error .materil-group__input {
    background-color: #FFD9D9;
    border-color: #FF3D3D;
}

.materil-group__error-text {
    font-size: 12px;
    line-height: 17px;
    color: #FF3D3D;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 3px;
}

.materil-group.error .materil-group__error-text {
    display: block;
}



input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
    display: none;
    position: absolute;
    left: -9999px;
}
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: $text_color;
    font-size: 14px;
}
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before{
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 16px;
    height: 16px;
    border: 2px solid #646464;
    border-radius: 100%;
    background: #fff;
}

input[type="radio"]:checked + label:before {
    border: 4px solid #3275EE;
}


/* ******************* Checkbox */

label {
    position: relative;
    cursor: pointer;
}

input[type="checkbox"], input[type="radio"] {
    position: absolute;
    left: -999em;
    display: none;
}
input[type="checkbox"] + span{
    padding-left: 24px;
    color: $text_color;
    font-size: 14px;
    line-height: 22px;
}

input[type="checkbox"] + span:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-9px);
    vertical-align: middle;
    border: 2px solid #646464;
    border-radius: 2px;
    color: $text_color;
}

input[type="checkbox"]:checked + span:before {
    content: "";
    background-color: #3275EE;
    border-color: #3275EE;
}

input[type="checkbox"]:checked + span:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-9px);
    width: 16px;
    height: 16px;
    background-image: url(../img/check-icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

