@import '../abstract/variables';

.marketing-banner{
  padding: 80px 0 80px;
}

.marketing-banner__inner{
  padding: 35px 140px 39px 0;
  display: flex;
  align-items: center;
  background: url(../img/marketing-bg.svg) no-repeat right top;
}

.marketing-banner__title{
  margin-bottom: 24px;
}

.marketing-banner__image {
  line-height: 0;
}

.marketing-banner__content{
  flex-grow: 1;
}

.marketing-banner__info{
  max-width: 345px;
  font-size: 22px;
  margin-bottom: 32px;
}

.marketing-banner__price{
  font-weight: $font-weight-medium;
  color: #3275EE;
  margin-bottom: 4px;
}

.marketing-banner__location{
  color: $grey;
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 48px;
}

.marketing-banner__more{
  font-size: 18px;
  line-height: 140%;
  font-weight: $font-weight-medium;
  color: $text_color;

  img{
    padding-left: 3px;
  }

  svg {
    transition: transform 0.15s ease-in-out;
  }

  &:hover {
    svg {
      transform: translateX(4px);
    }
  }
}