@import '../abstract/variables';
.personal-account-sidebar {
    background: #FFFFFF;
    border: 1px solid #DFDEE2;
    border-radius: 8px;
    overflow: hidden;
}

.personal-account-sidebar__head {
    padding: 12px 16px 12px;
    font-weight: $font-weight-medium;
    background-color: #F9F9F9;
    font-size: 16px;
    line-height: 160%;
    border-bottom: 1px solid #DFDEE2;
}

.personal-account-sidebar__body {
    padding: 8px 0;
}

.personal-account-sidebar__link {
    padding: 12px 16px;
    display: block;
    position: relative;
    
    &::before {
        content: '';
        display: block;
        height: 100%;
        width: 2px;
        background-color: #3275EE;
        border-radius: 30px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
    }
    &.active {
        background-color: #CCDCF7;
        font-weight: $font-weight-medium;
        &::before {
            opacity: 1;
        }

        &:hover {
            background-color: #CCDCF7;
        }
    }

    &:hover {
        background-color: #F9F9F9;
        color: #001D3A;
    }
}