.product-item {
    border: 1px solid #DFDEE2;
    border-radius: 8px;
}

.product-item__provider {
    padding: 16px;
}

.product-item__provider-name {
    margin-bottom: 8px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    color: #001D3A;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    &:hover {
        color: #3275EE;
    }
}

.product-item__provider-price {
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 16px;
}

.product-item__provider-link {
    text-decoration: none;
    font-size: 14px;
    color: #3275EE;
}