.product-catalog{
  padding: 56px 0 80px;
}

.product-catalog__name {
  display: flex;
}

.product-catalog__title{
  margin-bottom: 34px;
}

.product-catalog__left {
  width: 932px;
  margin-right: 24px;
}

.product-catalog__left .row {
  margin: 0 -12px;
}

.product-catalog__left .row > div {
  padding: 0 12px;
}

.product-catalog__all {
  font-size: 16px;
  color: #3275EE;
  text-decoration: none;
  margin-left: 16px;
  padding-top: 20px;
}

.product-catalog__container{
  display: flex;
}

.product-catalog__category {
  display: block;
  background-color: #F9F9F9;
  text-decoration: none;
  margin-bottom: 24px;
  padding: 16px 0;
  text-align: center;
  border-radius: 8px;
  border: 2px solid #F9F9F9;

  &:hover {
    border-color: #3275EE;
    background-color: #fff;
  }
}

.product-catalog__img {
  max-width: 140px;
  max-height: 140px;
}

.product-catalog__category p {
  text-align: center;
  color: #001D3A;
  margin-top: 16px;
  line-height: 22px;
}

.product-catalog__right .banner-card-sm {
  width: 294px;
  height: 452px;
  border-radius: 8px;
  display: block;
  overflow: hidden;
}

.banner-card-sm img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}