@import "../abstract/variables";

.table{
  background: #FFFFFF;
  border: 1px solid #DFDEE2;
  border-radius: 8px;
  font-size: 14px;
  line-height: 160%;
  overflow: hidden;
}

.table__head,
.table__row{
  background-color: #F2F2F2;
  color: $text_color;
  display: flex;
  font-weight: $font-weight-medium;
}

.table__head .table__col--num {
  padding-left: 16px;
}

.table__row{
  padding: 0;
  font-weight: $font-weight-normal;
  background-color: #F9F9F9;

  &:nth-child(2n + 1) {
    background-color: #fff;
  }

  .table--bordered & {
    border-top: 1px solid #DFDEE2;
  }

  .table__col--num{
    padding-left: 16px;
  }
}

.table__col {
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  //tender-table

  &--num {
    width: 48px;
  }

  &--name {
    width: 260px;
  }

  &--lot {
    width: 370px;
  }

  &--price,
  &--status {
    width: 153px;
  }

  //customers-request-table
  &--title{
    width: 237px;
  }

  &--size,
  &--count,
  &--width{
    width: 126px;
  }

  &--params{
    width: 173px;
  }

  &--cost {
    width: 148px;
  }

  //services
  &--advertising{
    width: 260px;
  }

  &--conversion{
    width: 180px;
  }

  &--call-office{
    width: 159px;
  }

  // price-list
  &--chapter {
    width: 205px;
  }

  &--monthly-1{
    width: 133px;
  }

  &--monthly-2{
    width: 184px;
  }

  &--monthly-3{
    width: 192px;
  }

  &--monthly-4{
    width: 216px;
  }

}

.table__status{
  font-weight: $font-weight-medium;
  color: $grey;

  &--pending{
    color: $green;
  }
}

.table__star {
  width: 15px;
  height: auto;
  margin-left: 4px;
}

.table--bordered .table__col{
  border-right: 1px solid #DFDEE2;

  &:last-child{
    border: none;
  }
}


