body {
    font-size: 14px;
    line-height: 22px;
}

.h1 {
    font-weight: 500;
    font-size: 36px;
    line-height: 50px;
    margin: 0;
}

.h2 {
    font-weight: 500;
    font-size: 28px;
    line-height: 39px;
    margin: 0;
}

h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 31px;
    margin: 0;
}

h4, .h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    margin: 0;
}

p {
    font-size: 16px;
    line-height: 26px;
    margin: 0;
}

.text-gray {
    color: #646464 !important;
}

.fw-500 {
    font-weight: 500;
}

.link {
    font-size: 16px;
    color: #3275EE;
    text-decoration: none;

    &:hover {
        color: #225ECA;
        text-decoration: none;
    }

    &:active {
        color: #1C4A9D;
    }
}

.link-dark  {
    color: #001D3A;
}

.link-sm {
    font-size: 14px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
