.product-card__provider--adv {
    margin-left: auto;
}

.product-card__provider--adv .provider-supplier{
    font-size: 14px;
    color: #646464;
    margin-bottom: 8px;
}

.product-card__provider--adv .provider-name {
    margin-bottom: 12px;
}

.product-card__provider--adv .provider-mails {
    padding: 8px 0;
    border-bottom: 1px solid #DFDEE2;
}

.provider-btn-container {
    padding-top: 24px;
}

.catalog-item__phone--adv-lg {
    width: 100%;
    height: 54px;
}

.catalog-item__phone--adv-lg p {
    font-size: 16px;
    height: 50px;
    line-height: 50px;
}

.product-item__provider--adv .product-item__provider-name {
    margin-bottom: 12px;
}

.product-item__provider--adv .product-item__provider-city {
    color: #646464;
}