@import '../abstract/_variables.scss';
.basket {
    display: flex;
    padding-bottom: 120px;
    &--success {
        justify-content: center;
    }
    &--empty {
        display: block;
        padding: 32px 0 0;
    }
}

.basket__content {
    flex-grow: 1;
}

.basket__textarea{
    min-height: 78px!important;
}

.basket__title {
    margin-bottom: 24px;
}

.basket__application-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.basket__suppliers {
    margin: 48px 0 0;
}

.basket__suppliers-inner {
    width: 480px;
}

.basket__suppliers-field {
    margin-top: 24px;
    &:first-of-type {
        margin-top: 16px;
    }
}

.basket__suppliers-textarea-group {
    margin-top: 24px;
}

.basket__suppliers-textarea {
    min-height: 158px!important;
}

.basket__actions {
    margin: 32px 0 0;
}

.basket__btn-continue {
    margin-left: 24px;
    .is-loading & {
        display: none;
    }
}

.basket__btn-send {
    width: 212px;
}

.basket__btn-send-suppliers{
    width: 265px;
}

.basket__box {
    padding: 96px 20px 0;
    max-width: 460px;
    text-align: center;
}

.basket__move-main {
    font-weight: $font-weight-medium;
}

.basket__ad-form {
    width: 500px;
    flex-shrink: 0;
}

.basket__ad-textarea{
    width: 600px;
    margin-bottom: 32px;

    textarea{
        height: 236px;
        overflow: hidden;
    }
}

.basket__tender-textarea{
    textarea{
        min-height: 130px!important;
        overflow: hidden;
    }
}

.basket__info-block{
    align-items: flex-start;
}
