@import '../abstract/_variables.scss';

.tender-page{
  display: flex;
  padding-bottom: 120px;

  strong{
    font-weight: $font-weight-medium;
  }
}

.tender-page__row{
  width: 100%;

  & + & {
    margin: 24px 0 0 0;
  }
}

.tender-page__content{
  flex: 1;
}

.tender-page__section{
  margin-top: 32px;

  &--lg {
    margin-top: 48px;
  }
}

.tender-page__sidebar{
  width: 397px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &--statement {
    padding-top: 134px;
  }
}

.tender-page__text{
  margin: 0 0 12px 0;

  &--grey {
    color: $grey;
  }

  &--red {
    color: $red;
  }

  &--green {
    color: $green;
  }

  &--sm{
    font-size: 14px;
  }
}

.tender-page__info{

}

.tender-page__info-row{

  & + & {
    margin-top: 8px;
  }

}

.tender-page__info-grey{
  color: $grey;
}

.tender-page__form{
  max-width: 360px;

  &--lg {
    max-width: 480px;
  }

  .materil-group{
    margin-top: 24px;
  }
}

.tender-page__form-label {
  margin-bottom: -8px;
}

.tender-page__form-field{

  & + & {
    margin-top: 16px;
  }
}

.tender-select-category {
  width: 100%;
  font-size: 12px;
  line-height: 160%;
  text-align: center;
  color: #646464;
  padding: 23px 15px;
}


.tender-select-category__title {
  font-size: 12px;
  margin-bottom: 2px;
}

.tender-select-category__list {
  font-size: 14px;
  color: #001D3A;
}

.tender-select-category__action {
  font-size: 12px;
}

.tender-select-category__action .link {
  font-size: 12px;
}